<div>
    <form action="/validation/contactinfoform" method="post">
        <label>
            Address:
            <input type="text" id="address1" required minlength="5" maxlength="200" autofocus />
        </label>
        <label>
            Address line 2:
            <input type="text" id="address2" minlength="5" maxlength="200" />
        </label>
        <label>
            Address line 3:
            <input type="text" id="address3" minlength="5" maxlength="200" />
        </label>
        <label>
            City:
            <input type="text" id="city" minlength="5" maxlength="200" required />
        </label>
        <label>
            State:
            <input type="text" id="state" minlength="2" maxlength="2" required />
        </label>
        <label>
            Zip Code:
            <input type="text" id="zipcode" minlength="5" maxlength="10" required />
        </label>
        <label>
            Phone:
            <input type="text" id="phone1" minlength="10" maxlength="10" required />
        </label>
        <label>
            Phone 2:
            <input type="text" id="phone2" minlength="10" maxlength="10" />
        </label>
    </form>
</div>