<head>
    <link rel='stylesheet' href='/stylesheets/footer.module.css' />
</head>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/federated/google">/login/federated/google</a></li>
    
</ul>