<head>
    <link rel='stylesheet' href='/stylesheets/footer.module.css' />
</head>
<div>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/dashboards/admin">Admin Dashboard</a></li>
    <li><a href="/dashboards/customer">Customer Dashboard</a></li>
    <li><a href="/dashboards/employee">Employee Dashboard</a></li>
    <li>
        <form><button type="submit" formaction="/auth/" formmethod="post">Sign Out</button></form>
    </li>
</ul>
</div>