<head>
    <link rel='stylesheet' href='/stylesheets/footer.module.css' />
</head>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/admindashboard/">Admin Dashboard</a></li>
    <li><a href="/customerdashboard/">Customer Dashboard</a></li>
    <li><a href="/employeedashboard/">Employee Dashboard</a></li>
    <li>
        <form><button type="submit" formaction="/auth/" formmethod="post">Sign Out</button></form>
    </li>
</ul>