

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='icon' href='/images/favicon.ico' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    {{{body}}}
    {{>footer}}
  </body>

</html>
