doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel="stylesheet", href="/stylesheets/style.css", attr)
    link(rel="icon", href="/images/favicon.ico")
  body
    block content
    block foot
      #footer
        .container
          ul 
            li 
              a(href="/") Home 
            li 
              a(href="/auth/login") Login
            li 
              a(href="/admin") Admin dashboard
            li 
              a(href="/customer") Customer dashboard
            li 
              a(href="/employee") Employee dashboard 
            li 
              a(href="/userfirsttime") User first time
            li 
              a(href="/availableunits") Available units 
            li 
              form(action="/auth", method="post")
                button.btn.btn-primary(type='submit') Sign out 
          | &copy; 2023 
