extends layout 

block content
    div 
        form(action="/validation/loginform" method="post")
            h1 Enter your email to login 
            label(for="email") Email address: 
                input(type="email" id="email")
            button(type="submit") Submit