<h1>{{title}}</h1>
<form action="/validation/userfirsttime" method="post">
    <label for="Given Name" id="givenName">Given Name:</label>
    <input type="text" id="givenName" name="Given Name" autofocus required minlength="2" maxlength="200"
        autocomplete="Given Name" />

    <label for="Family Name" id="familyName">Family Name:</label>
    <input type="text" id="familyName" name="Family Name" autofocus required minlength="2" maxlength="200"
        autocomplete="Given Name" />
    <button type="submit">Submit</button>
</form>