extends layout 
block content
    h1  #{title}
    form(action="/validation/userfirsttime" method="post")
        label(for="givenName" id="givenName") Given Name: 
            input(type="text" id="givenName" autofocus required minlength="2" maxlength="100" placeholder="Given name")
        label(for="givenName" id="familyName") Family Name:
            input(type="text" id="familyName" autofocus required minlength="2" maxlength="100" placeholder="Family name")
        button(type="submit") Submit
        